 {% extends 'base.html' %} 
 {% block content %}
 <form action="{{url_for('cada_competicao2')}}" method="post">

  <div class='container' >
      <h3 class='display-3' >Nome Competição </h3>
    
          <input class="form-control" type="text" placeholder="Campeonato" aria-label="default input example" name="clube">
        
      <h3 class='display-3' >Local </h3>
      <input class="form-control" type="text" placeholder="Local" aria-label="default input example" name="localidade">

      <h3 class='display-3' >Data </h3>
      <input id="date" type="date" name="tempo"><br><br>
      <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>
 {% endblock %}